<h1>New post</h1>
<form method="post" action="/posts">
  <p>
    <label for="title" style="display: block;">Name:</label>
    <input type="text" name="title" />
  </p>
  <p>
    <label for="content" style="display: block;">Content</label>
    <textarea rows="5" cols="30" name="content"></textarea>
  </p>
  <input type="submit" value="Add Post" />
</form>