<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Our Sinatra App - <%= @page_title %></title>
</head>
<body>
  <nav>
    <a href="/">All Posts</a>
    <a href="/posts/new">New Post</a>
  </nav>
  <div style="color: red; padding-top: 20px">
    <%= @error %>
  </div>
  <%= yield %>
</body>
</html>